body {
  font-family: sans-serif;
}

#assignment-instruction {
  color: brown;
  font-family: sans-serif;
}

code {
  color: red;
  font-family: monospace;
}

.second-li code {
  color: green;
}

li + li {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}
